#headline {
    padding-top: 75px;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 75px;
}

#subhead {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 20px;
    color: darkgray;
}

#byline {
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    padding-bottom: 30px;
}

.dropcap {
  color: white;
  float: left;
  font-family: 'Slabo 27px', serif;
  font-size: 85px;
  background-color: darkred;
  line-height: 50px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-right: 10px;

}

.firstp {
    font-family: 'Slabo 27px', serif;
    font-size: 19px;
    padding-bottom: 20px;
}


.paragraph {
    font-family: 'Slabo 27px', serif;
    font-size: 19px;
    padding-bottom: 20px;
}

