#headline {
    padding-top: 75px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 75px;
}

#subhead {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    color: darkgray;
}

#byline {
    text-align: center;
    font-family: serif;
    font-size: 20px;
    padding-bottom: 30px;
}

.dropcap {
  color: white;
  float: left;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 85px;
  background-color: darkred;
  line-height: 50px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-right: 10px;

}

.firstp {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 19px;
    padding-top: 25px;
    padding-bottom: 20px;
}


.paragraph {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 19px;
    padding-bottom: 20px;
}

.bottomp {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 19px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.bottompp {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 19px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.quote {
    text-align: center;
    font-family: Georgia;
    font-size: 25px;
    color: darkred
}

footer {
    padding-top: 7px;
    padding-bottom: 10px;
}

.person {
    text-align: center;
    font-family: Georgia;
    color: darkgray;
}
